<% layout_default(buf, function (buf) { %><%
locals.checkmark = function (flag) {
  if (flag) {
    return '<span class="mega-octicon octicon-check"></span>';
  } else {
    return '<span class="mega-octicon octicon-x"></span>'
  }
}
%>
<header class="header">
<h1>nobii's boot camp</h1>
<h2>成績表</h2>
<!-- /.header --></header>
<table class="member-table">
<tr>
<td></td>
<td class="member-table__head">Android<br />native</td>
<td class="member-table__head">iOS<br />native</td>
<td class="member-table__head">Android<br />Unity</td>
<td class="member-table__head">iOS<br />Unity</td>
<td class="member-table__head">Android<br />Cocos2d-x</td>
<td class="member-table__head">iOS<br />Cocos2d-x</td>
</tr><% members.forEach(function (member) { %>
<tr>
<td><img class="member-table__image" src="<%= member.img %>" alt="<%= member.name %>"/></td>
<td class="member-table__cell"><%- checkmark(member.checks.native_android) %></td>
<td class="member-table__cell"><%- checkmark(member.checks.native_ios) %></td>
<td class="member-table__cell"><%- checkmark(member.checks.unity_android) %></td>
<td class="member-table__cell"><%- checkmark(member.checks.unity_ios) %></td>
<td class="member-table__cell"><%- checkmark(member.checks.cocos_android) %></td>
<td class="member-table__cell"><%- checkmark(member.checks.cocos_ios) %></td>
</tr><% }) %>
<!-- /.member-table --></table><% }) %>
